<div class="row">
  <div class="col-md-3 card">
    <div class="card-image">
      <img style="max-width:300px" src="http://www.myiconart.com/3222-thickbox/space-jam-retro-style-t-shirt-tune-squad.jpg">
    </div>
    <% if @win_count %>
      <div class="team-card-winning">
    <% else %>
      <div class="team-card-losing">
    <% end %>
        <h3>
          <%= @team.name %>
          <span class="label label-info win-loss"><%= @win_count %></span>
        </h3>
        <%= link_to "Edit", edit_league_team_path(@league, @team) %>
        <table class="table table-hover table-condensed">
          <tr>
            <td><i class="fa fa-anchor fa-lg"></i></td>
            <td>
              <dl>
                <dt>Captain</dt>
                <% if @captain %>
                  <dd><%= link_to "#{@captain.name}", user_path(@captain) %></dd>
                <% else %>
                  <dd>Choose a captain!</dd>
                <% end %>
              </dl>
            </td>
          </tr>
          <tr>
            <td><i class="fa fa-trophy fa-lg"></i></td>
            <td>
              <dl>
                <dt>League</dt>
                <dd><%= link_to "#{@league.name}", league_path(@league) %></dd>
              </dl>
            </td>
          </tr>
          <tr>
            <td><i class="fa fa-building fa-lg"></i></td>
            <td>
              <dl>
                <dt>Company</dt>
                <dd><%= link_to "#{@company.name}", company_path(@team.league.company) %></dd>
              </dl>
            </td>
          </tr>
        </table>
      </div>
  </div>
  <div class="col-md-8 card">
    <h3>Current Matchup</h3>
  </div>
  <div class="col-md-8 card">
    <table class="table table-hover">
      <% @team_members.each do |member| %>
        <tr>
          <td><%= link_to "#{member.name}", user_path(member) %></td>
          <% if member.is_captain %>
            <td><i class="fa fa-anchor"></i>
          <% else %>
            <td><a data-method='patch' href="/leagues/<%= @league.id %>/teams/<%= @team.id %>?team[name]=<%= @team.name %>&new_captain=<%= member.id %>"><i class='fa fa-anchor' id='not_captain'></a></i></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-md-8 card">
    <h3><i class="fa fa-calendar"></i> Schedule:</h5>
    <table class="table table-condensed table-hover">
      <tr>
        <th>Week</th>
        <th>Opponent</th>
        <th>Result</th>
      </tr>
      <% @teams_matchups_this_season_in_order.each do |matchup| %>
        <tr>
          <td><%= Week.find(matchup.week_id).number %></td>
          <% if matchup.first_team == @team %>
            <td><%= link_to "#{matchup.second_team.name}", league_team_path(@league, matchup.second_team) %></td>
          <% else %>
            <td><%= link_to "#{matchup.first_team.name}", league_team_path(@league, matchup.first_team) %></td>
          <% end %>
          <% if matchup.winner? %>
            <% if matchup.winner == @team.id %>
              <td>W</td>
            <% else %>
              <td>L</td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>





