<div class="row">
  <div class="col-md-4">
    <h1><%= @league.name %></h1><a href="/leagues/<%= @league.id %>/edit">Edit</a>
    <h5><%= @company.name %></h5>

    <%= link_to "<i class='fa fa-plus'></i> Start a new season!".html_safe, "/leagues/#{@league.id}/seasons/new" %>
  </div>

  <% if @current_season %>
    <div class="col-md-8">
      <p class="lead">Season <%= @current_season.number %></p>

      <p class="lead">Standings</p>
      <table class="table table-hover">
        <% @standings.each do |team| %>
          <tr>
            <td><%= link_to "#{team.name}", league_team_path(@league, team) %></td>
            <td><%= @current_season.matchups.where({ :winner => team.id }).count %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>





