<h3><%= @user.name %></h3>
<h4><%= @user.title %></h4>
<h4><%= @user.company.name %></h4>
<h4>Team: <%= link_to "#{@team.name}", "/teams/#{@user.team.id}" %></h4>
<h4>League: <%= link_to "#{@league.name}", "/leagues/#{@team.league.id}" %></h4>

<% if @user == current_user %>
  <a href="/auth/salesforce">Authenticate with Salesforce</a>

  <% @authentications.each do |authentication| %>
    <li>
      <%= authentication.provider %>
      <%= authentication.user_id %>
      <%= authentication.uid %>
      <%= link_to "Destroy", "/authentications/#{authentication.id}", :method => :delete %>
    </li>
  <% end %>
<% end %>

