<div class="row">

  <div class="col-md-3">
    <h1><%= @company.name %></h1>
    <a href="/companies/<%= @company.id %>/edit">Edit</a>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <div>
      <%= simple_form_for [@league] do |f| %>
        <%= f.input :name, :label => false, :placeholder => 'League Name' %>
        <%= f.button :submit, "Add a League", :class => "btn btn-primary btn-sm btn-block" %>
      <% end %>
    </div>
      <% @company.leagues.each do |league| %>
        <div>
          <%= league.name %>
          <a href="/" class="btn btn-sm btn-danger"><i class="fa fa-trash-o fa-lg"></i></a>
        </div>
      <% end %>
  </div>

  <div class="col-md-3 col-md-offset-1">
      <% @company.users.each do |user| %>
        <div>
          <%= user.name %>
        </div>
      <% end %>
  </div>

</div>




