<div class="row">
  <div class="col-md-3">
    <h3><i class="fa fa-building"></i> <%= @company.name %></h3>
    <a href="/companies/<%= @company.id %>/edit"><i class='fa fa-pencil fa-lg'></i></a>
  </div>

  <div class="col-md-4">
    <% @company.leagues.each do |league| %>
        <div class="card">
          <%= link_to "#{league.name}", league_path(league) %>
          <a data-method="delete" href="/leagues/<%= league.id %>" class="btn btn-sm btn-delete"><i class="fa fa-trash-o fa-lg"></i></a>
        </div>
      <% end %>

    <div>
      <%= simple_form_for [@league] do |f| %>
        <%= f.hidden_field :name, :value => "League #{@company.leagues.count + 1}" %>
        <%= f.button :submit, "+ New League", :class => "btn btn-sm btn-primary btn-block" %>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
      <% @company.users.each do |user| %>
        <div class="card">
          <%= link_to "#{user.name}", user_path(user) %>
        </div>
      <% end %>
  </div>
</div>





