<div class="row">
  <div class="col-md-4">
    <h1><%= @company.name %></h1>
    <a href="/companies/<%= @company.id %>/edit">Edit</a>
  </div>
  <div class="col-md-4">
    <%= simple_form_for [@league] do |f| %>
      <%= f.input :name, :label => 'League Name' %>
      <%= f.button :submit do
        <i class='fa fa-plus'></i> "Add a League", :class => "btn btn-success btn-block" %>
      <% end %>
    <% end %>
  </div>
</div>
    <ul>
      <% @company.leagues.each do |league| %>
        <li><%= league.name %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-4">
    <ul>
      <% @company.users.each do |user| %>
        <li><%= user.name %></li>
      <% end %>
    </ul>
  </div>
</div>


